body #root {
  font-family: 'Libre Franklin', sans-serif;
}

.app {
  text-align: center;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  background-color: rgb(106, 126, 151);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
}

.nav-container img {
  height: 75px;
  max-width: auto;
  border-radius: 3px;
  margin: 10px;
  margin-left: 10%;
  cursor: pointer;
}

.nav-container h3 {
  margin-right: 10%;
  cursor: pointer;
}

.ui.horizontal.list {
  margin-right: 10%;
  cursor: pointer;
}

#nav-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.home {
  margin-top: 5%;
}

.home h1 {
  font-size: 50px;
}

hr {
  width: 50%;
}

.search {
  margin-top: 50px;
}

.search h3 {
 text-align: left;
 margin-left: 20%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 20px;
}

.reco #toggle-lbl {
  margin-top: 0;
}

#art-btn {
  background-color: rgb(106, 126, 151);
  color: whitesmoke;
  margin-top: 50px;
}

.search-result {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.ui.left.aligned.segment h3 {
  color: slategray
}

#heart-btn {
  margin-left: 5%;
  color: lightcoral
}

.ui.icon.button {
  background-color: rgb(106, 126, 151);
  color:whitesmoke
}

.ui.image {
  max-height: 500px;
  width: auto;
}

.ui.container.sign-in-container {
  width: 40%;
  margin-top: 5%;
}

.ui.button.sign-in-btn {
  background-color: rgb(106, 126, 151);
  color:whitesmoke;
  width: 100%;
}

.ui.button.create-acct-btn {
  background-color: rgb(1, 175, 123);
  color:whitesmoke;
  width: 100%;
}

/* semantic-ui adjustments --> change toggle color to green  */
.ui.fitted.toggle.checkbox input:focus:checked~label:before,
.ui.fitted.toggle.checkbox input:focus:checked~label:before,
.ui.fitted.toggle.checkbox input:checked ~.box:before,
.ui.fitted.toggle.checkbox input:checked ~label:before {
    background-color: rgb(37, 204, 76) !important
}

.ui.fitted.toggle.checkbox .box:before, .ui.fitted.toggle.checkbox label:before {
    background-color: grey;
}

/* add widespace gutter/margin if screen size over 1280px */
@media screen and (min-width: 1280px) {
  .nav-container {
    margin-left: 10%;
    margin-right: 10%
  }

  .search-result {
    margin-left: 15%;
    margin-right: 15%
  }
}
